@media screen and (max-width: 767px) {
  h1 {
    font-size: 45px;
  }
  #about-container h2 {
    font-size: 30px;
  }
  #about-container h3 {
    font-size: 20px;
  }
  #about-container p {
    font-size: 15px;
  }
  #about-container button {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
  #about-container h2 {
    font-size: 30px;
  }
  #about-container h3 {
    font-size: 25px;
  }
  #about-container p {
    font-size: 20px;
  }
  #about-container button {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 60px;
  }
  #about-container h2 {
    font-size: 35px;
  }
  #about-container h3 {
    font-size: 30px;
  }
  #about-container p {
    font-size: 25px;
  }
  #about-container button {
    font-size: 20px;
  }
  .contributor-row img, #hapzly-row img {
    width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 65px;
  }
  #about-container h2 {
    font-size: 45px;
  }
  #about-container h3 {
    font-size: 35px;
  }
  #about-container p {
    font-size: 30px;
  }
  #about-container button {
    font-size: 25px;
  }
  .contributor-row img, #hapzly-row img {
    width: 400px;
  }
}

h1 {
  padding-top: 7%;
  padding-bottom: 6%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  padding: 0;
  background-color: #2f3033;
}

#about-container h2, #about-container h3,#about-container p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 5% 5% 7% 5%;
}

#about-container h2 {
  padding-bottom: 3%;
}

#about-container h3 {
  padding-bottom: 4%;
}

#about-container p {
  text-align: left;
  line-height: 1.5em;
}

#about-row h2, #about-row p {
    color: white;
}

#mission-statement-col {
  background-image: image-url("/assets/papers.jpg");
  background-repeat: "false";
}

#what-we-do-col {
  background-image: image-url("/assets/clothes.jpg");
  background-position: center;
  background-size: 150%;
  background-repeat: "false";
}

/*
#founding-president-col {
  background-image: image-url("/assets/morles-letterman.jpg");
  background-position: center;
  background-size: 150%;
  background-repeat: "false";
}
*/

.contributor-row {
  padding-bottom: 5%;
}

.contributor-row h1 {
  padding-bottom: 0%;
}

.contributor-row h2 {
  padding-bottom: 0%;
  white-space: nowrap;
}

.contributor-row h3 {
  padding-bottom: 0%;
}

.contributor-row img {
  max-width: 75%;
  height: auto;
}

.contributor-row p {
  text-align: center;
}

#hapzly-row {
  text-align: center;
  h1 {
    padding-bottom: 1%;
  }
  h3 {
    text-align: center;
    padding-top: 0%;
    padding-bottom: 2%;
    line-height: 1.5em;
  }
  img {
    padding-top: 0;
    max-width: 75%;
    height: auto;
  }
  #hapzly-desc-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
