<%= stylesheet_link_tag 'about' %>

<div id="about-container" class="container-fluid">
  <h1>About Us <i class="fa fa-info-circle" aria-hidden="true"></i></h1>

  <div id="about-row" class="row">
    <div id="mission-statement-col" class="col-md-6 col-lg-6">
      <h2>Mission Statement</h2>
      <blockquote class="blockquote">
        <p class="font-italic mb-0">"The mission of the Warm Ears, Warm Hearts Foundation is to bring the community together to help out fellow humans through kindness and compassion. Warm Ears, Warm Hearts will do all they can to provide warmth to children in need of appropriate winter clothing."</p>
      </blockquote>
    </div>
    <div id="what-we-do-col" class="col-md-6 col-lg-6">
      <h2>What We Do</h2>
      <p>The Warm Ears, Warm Hearts Foundation is a Florida based nonprofit dedicated to collecting and giving winter clothing to children in need. Started by one lone high school student, Alejandro Morles launched this foundation at the age of 15.</p>
    </div>
    <!--
    <div id="founding-president-col" class="col-md-4 col-lg-4">
      <h2>Founding President</h2>
      <p>Alejandro Ignacio Morles is a budding philanthropist and high school student. Born on January 10th 2002, Alejandro was always trying to help out those in need. In his freshman year, he was inspired to make a nonprofit to help those in need of warm winter clothing. That's how Warm Ears, Warm Hearts came into being.  With the support of his family, he was able to receive a nonprofit status and get to work on Warm Ears, Warm Hearts as its founder and president.</p>
    </div>
    -->
  </div>
  <h1 id="hapzly-header">Hapzly Accredited <i class="fa fa-certificate" aria-hidden="true"></i></h1>
  <div id="hapzly-row" class="row">
    <div class="col-md-6 col-lg-6">
      <img class="img-fluid mx-auto d-block" src="assets/hapzly.png" alt="Hapzly Certified" />
    </div>
    <div id="hapzly-desc-col" class="col-md-6 col-lg-6">
      <p>Hapzly is leading a movement of businesses, organisations, and consumers around the world who want to share, promote, and enjoy happiness. Warm Ears, Warm Hearts is proud to be one of the first non-profits to join in its mission.</p>
      <span class="button-in-text">
        <button id="hapzlyButton" class="btn btn-info">Discover Hapzly <i class="fa fa-info-circle" aria-hidden="true"></i></button>
      </span>
    </div>
  </div>

  <h1>Contributors <i class="fa fa-user" aria-hidden="true"></i></h1>
  <div class="contributor-row row">
    <div class="col-md-4 col-lg-4">
      <h2>Justin Parrondo</h2>
      <h3>Webmaster</h3>
      <img class="img-fluid rounded-circle mx-auto d-block" src="assets/justin.jpg" alt="Justin Parrondo | Webmaster" />
      <p>Justin Parrondo, born August 17, 2002, has always wanted to use his talents in software and coding to contribute to help the less fortunate. By teaming up with his fellow classmates and friends Alejandro and Brandon for Warm Ears, Warm Hearts in creating the new, redesigned website, he is accomplishing just that. He wishes that his work will bring not only a new look, but also continued success to the non-profit.</p>
    </div>
    <div class="col-md-4 col-lg-4">
      <h2>Alejandro Morles</h2>
      <h3>Founder & President</h3>
      <img class="img-fluid rounded-circle mx-auto d-block" src="assets/morles-letterman.jpg" alt="Alejandro Morles | Founder & President" />
      <p>Alejandro Ignacio Morles is a budding philanthropist and high school student. Born on January 10th 2002, Alejandro was always trying to help out those in need. In his freshman year, he was inspired to make a nonprofit to help those in need of warm winter clothing. That's how Warm Ears, Warm Hearts came into being. With the support of his family, he was able to receive a nonprofit status and get to work on Warm Ears, Warm Hearts as its founder and president.</p>
    </div>
    <div class="col-md-4 col-lg-4">
      <h2>Thomas Mackle</h2>
      <h3>Secretary & Director</h3>
      <img class="img-fluid rounded-circle mx-auto d-block" src="assets/mackle.jpg" alt="Thomas Mackle | Secretary & Director" />
      <p>Thomas Mackle, born on May 28, 2002, attends Christopher Columbus High School and is a part of numberous of clubs. Being an officer of Key Club, he works with the community in many service events. During his time at Columbus, Thomas became good friends with Alejandro Morles. This led to his involvement in Morles’ non-profit organization, Warm Ears, Warm Hearts. Through this, Thomas is able to further help those in need.</p>
    </div>
  </div>
  <div class="contributor-row row">
    <div class="col-md-4 col-lg-4">
      <h2>Cody Stubben</h2>
      <h3>Director</h3>
      <img class="img-fluid rounded-circle mx-auto d-block" src="assets/stubben.jpg" alt="Cody Stubben | Director" />
      <p>Cody Stubben serves on the board of directors for Warm Ears, Warm Hearts. He provides grant writing, donor development and marketing support to the organization. His extensive background in nonprofit development and marketing includes experience in homelessness, animal welfare, and healthcare. He is currently a marketing and development consultant at 501 Resource and the Manager of Website Development with the Lewy Body Dementia Association. </p>
    </div>
    <div class="col-md-4 col-lg-4">
      <h2>Marcel Van Hemert</h2>
      <h3>Promoter & Historian</h3>
      <img class="img-fluid rounded-circle mx-auto d-block" src="assets/marcel.jpg" alt="Marcel van Hemert | Promoter & Historian" />
      <p>Marcel van Hemert, born July 11, 2002, attends Christopher Columbus High School and is a proud member of Warm Ears, Warm Hearts. Marcel has always had a desire to help others in any way he can, and was thrilled to team up with Founder Alejandro Morles and become a part of Warm Ears Warm Hearts’ mission through social media and advertising.</p>
    </div>
    <div class="col-md-4 col-lg-4">
      <h2>Lance Campos</h2>
      <h3>Head Designer</h3>
      <img class="img-fluid rounded-circle mx-auto d-block" src="assets/lance.jpg" alt="Lance Campos | Head Designer" />
      <p>Born May 3, 2002, Lance Campos has always loved to create art. After seeing his high school friend Alejandro found Warm Ears, Warm Hearts, Lance saw the opportunity to use his artistic abilities for the greater good. As Head Designer, Lance oversees and creates nearly all the custom graphics used by the organization.</p>
    </div>
  </div>
</div>

<script>
  $('#hapzlyButton').click(function() {
    window.open('https://hapzly.com/','_blank');
  });
</script>
