<link href="/assets/ambassadors.css" type="text/css" rel="stylesheet">

<div id="ambassador-container" class="container-fluid">
  <h1>Be An Ambassador <i class="fa fa-user" aria-hidden="true"></i></h1>

  <h2>Warm Ears, Warm Hearts would be nothing without its ambassadors. If you're interested in being a representative for your school or organization, click the Ambassador Form button</h2>
  <br/>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h2 class="text-left">Requirements</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <ol>
        <li><p>Be in constant communication with your school/organization and us<p></li>
        <li><p>Turn in collections sometime between August and January, with each individual collection talked over beforehand</p></li>
        <li><p>Collections must be sent in to the center office (address will be given)</p></li>
      </ol>
    </div>
  </div>
  <br/>
  <br/>
  <button onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSdYS2-u-sUWeLHGdPkwKHvENi3lm_-G2Lh4EBpIeg6IQkv_sA/viewform'" class="btn btn-warning">Ambassador Form <i class="fa fa-external-link" aria-hiden="true"></i></button>
  <br/>
  <br/>
</div>
