<%= stylesheet_link_tag 'collections' %>

<div id="collections-container" class="container-fluid">
  <h1>Collections <i class="fa fa-handshake" aria-hidden="true"></i></h1>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h2>Hosts <i class="fa fa-box-open"></i></h2>
      <div class="row">
        <div class="collection-title col-md-6 col-lg-6">
          <img class="img-fluid mx-auto d-block" alt="Christopher Columbus High School" src="assets/cchs.jpg" />
        </div>
        <div class="collection-desc col-md-6 col-lg-6">
          <h3>Christopher Columbus High School</h3>
          <p>Collected: Winter 2016-2018</p>
          <p>Ambassador: Alejandro Morles</p>
          <p>3000 SW 87th Ave.</p>
          <p>Miami, FL 33165</p>
        </div>
      </div>
      <div class="row">
        <div class="collection-title col-md-6 col-lg-6">
          <img class="img-fluid mx-auto d-block" alt="Miami Palmetto Senior High School" src="assets/palmetto.png" />
        </div>
        <div class="collection-desc col-md-6 col-lg-6">
          <h3>Miami Palmetto Senior High School</h3>
          <p>Collected: Winter 2018</p>
          <p>Ambassador: Macarena Puig</p>
          <p>7460 SW 118th St</p>
          <p>Pinecrest, FL 33156</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <h2>Recipients <i class="fa fa-box"></i></h2>
      <div class="row">
        <div class="collection-title col-md-6 col-lg-6">
          <img class="img-fluid mx-auto d-block" alt="New York City P.S. 277" src="assets/nyc.jpg" />
        </div>
        <div class="collection-desc col-md-6 col-lg-6">
          <h3>NYC P.S. 277</h3>
          <p>Donated: Winter 2016</p>
          <p>Ambassador: N/A</p>
          <p>519 Saint Ann's Avenue</p>
          <p>Bronx, NY 10455</p>
        </div>
      </div>
      <div class="row">
        <div class="collection-title col-md-6 col-lg-6">
          <img class="img-fluid mx-auto d-block" alt="Lamp Catholic Ministries" src="assets/lamp.png" />
        </div>
        <div class="collection-desc col-md-6 col-lg-6">
          <h3>LAMP Catholic Ministries</h3>
          <p>Donated: Winter 2017-2018</p>
          <p>Ambassador: Dr. Tom Scheuring</p>
          <p>2704 Schurz Ave</p>
          <p>Bronx, NY 10465</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
