<%= stylesheet_link_tag 'contact'%>

<div class="container-fluid">
  <h1>Contact <i class="fa fa-bullhorn"></i></h1>

  <div id="alejandro-morles" class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Alejandro I. Morles, Founder and President</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:amorles@warmearswarmhearts.org"><p>amorles@warmearswarmhearts.org</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:954-282-1318"><p>(954) 282-1318</p></a>
      </span>
    </div>
  </div>

  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Justin J. Parrondo, Webmaster</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:jparrondo20255@columbushs.com"><p>jparrondo@warmearswarmhearts.org</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:786-493-3575"><p>(786) 493-3575</p></a>
      </span>
    </div>
  </div>
  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Thomas Mackle, Secretary and Director</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:tmackle20208@columbushs.com "><p>tmackle20208@columbushs.com</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:305-216-6147"><p>(305) 216-6147</p></a>
      </span>
    </div>
  </div>
  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Cody Stubben, Director</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:stubbenc@gmail.com "><p>stubbenc@gmail.com</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:404-453-3354"><p>(404) 453-3354</p></a>
      </span>
    </div>
  </div>
  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Marcel van Hemert, Historian</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:mvanhemert20365@columbushs.com"><p>mvanhemert20365@columbushs.com</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:786-362-1430"><p>(786) 362-1430</p></a>
      </span>
    </div>
  </div>
  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Lance Campos, Head Designer</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:lcampos20058@columbushs.com"><p>lcampos20058@columbushs.com</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:786-202-4335"><p>(786) 202-4335</p></a>
      </span>
    </div>
  </div>
</div>
