<%= stylesheet_link_tag 'contact'%>

<div class="container-fluid">
  <h1>Contact <i class="fa fa-bullhorn"></i></h1>

  <div id="alejandro-morles" class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Alejandro I. Morles, Founder and President</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:amorles@warmearswarmhearts.org"><p>amorles@warmearswarmhearts.org</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:954-282-1318"><p>(954) 282-1318</p></a>
      </span>
    </div>
  </div>

  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Thomas Mackle, Secretary</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:tmackle20208@columbushs.com "><p>tmackle20208@columbushs.com</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:305-216-6147"><p>(305) 216-6147</p></a>
      </span>
    </div>
  </div>

  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Guadalupe Diaz, Head of Social Media</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:gdiaz20021@pacespartans.com"><p>gdiaz20021@pacespartans.com</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:305-930-0841"><p>(305) 930-0841</p></a>
      </span>
    </div>
  </div>

  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Justin J. Parrondo, Webmaster</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:jparrondo20255@columbushs.com"><p>jparrondo@warmearswarmhearts.org</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:786-493-3575"><p>(786) 493-3575</p></a>
      </span>
    </div>
  </div>

  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Marcel van Hemert, Director of Middle School Volunteers</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:mvanhemert20365@columbushs.com"><p>mvanhemert20365@columbushs.com</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:786-362-1430"><p>(786) 362-1430</p></a>
      </span>
    </div>
  </div>

  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Daniel Luna, Head of Graphic Design</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:dluna20207@columbushs.com"><p>dluna20207@columbushs.com</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:305-439-4067"><p>(305) 439-4067</p></a>
      </span>
    </div>
  </div>
</div>
