<%= stylesheet_link_tag 'contact'%>

<div class="container-fluid">
  <h1>Contact <i class="fa fa-bullhorn"></i></h1>

  <div id="alejandro-morles" class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Alejandro I. Morles, Founder and President</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:amorles@warmearswarmhearts.org"><p>amorles@warmearswarmhearts.org</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:954-282-1318"><p>(954) 282-1318</p></a>
      </span>
    </div>
  </div>

  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Justin J. Parrondo, Webmaster</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:jparrondo20255@columbushs.com"><p>jparrondo20255@columbushs.com</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:786-493-3575"><p>(786) 493-3575</p></a>
      </span>
    </div>
  </div>
  <div class="row contact-row">
    <div class="col-md-6 col-lg-6">
      <h2>Brandon Cominsky, Marketing Associate</h2>
    </div>
    <div class="col-md-6 col-lg-6">
      <span class="mail">
        <h3>Email <i class="fa fa-envelope" aria-hidden="true"></i></h3>
        <a href="mailto:bcominsky20085@columbushs.com"><p>bcominsky20085@columbushs.com</p></a>
      </span>
      <span class="phone">
        <h3>Phone <i class="fa fa-phone" aria-hidden="true"></i></h3>
        <a href="tel:305-302-8126"><p>(305) 302-8126</p></a>
      </span>
    </div>
  </div>
</div>
