<%= stylesheet_link_tag 'donate' %>

<div id="donation-container" class="container-fluid">
  <h1>Donate <i class="fa fa-money-bill-alt"></i></h1>
  <h2>Whatever your reason for donating and however you choose to make your donation, we are grateful for your support.</h2>
  <div id="donation-message-row" class="row">
    <div class="col-md-6 col-lg-6">
      <p>The Warm Ears, Warm Hearts Foundation Inc. is a nonprofit dedicated to helping children in need. However, we do need financial support. Below is the link to the nonprofit's Donorbox. Please consider donating, as any amount helps. Because we are a 501(c)3 federal non-profit, your donation is even tax-deductable.</p>
    </div>
    <div class="col-md-6 col-lg-6">
      <p>Thank you for taking time to read this,
         <br/>
         <i>Alejandro Ignacio Morles<br/>
         Founder and President</i>
      </p>
    </div>
  </div>
  <button onclick="window.open('https://donorbox.org/wewh','_blank');" class="btn btn-success">Donate <i class="fa fa-external-link-alt"></i></button>
  <br/>
  <br/>
  <br/>
</div>
