<%= stylesheet_link_tag 'donate' %>

<div id="donation-container">
  <div class="carousel-all">
    <div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
      <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div id="donate1" class="carousel-item active">
        </div>
        <div id="donate2" class="carousel-item">
        </div>
        <div id="donate3" class="carousel-item">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h1>Donate</h1>
          <h3>Whatever your reason for donating and however you choose to make your donation, we are grateful for your support.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="mobile-only">
      <img class="img-responsive d-block w-100" src="/assets/donate2.JPG" alt="Warm Ears, Warm Hearts" />
      <h1>Donate</h1>
      <h3>Whatever your reason for donating and however you choose to make your donation, we are grateful for your support.</h3>
    </div>
    <div id="donation-message-row" class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h2>Why do we need donations?</h2>
        <p>I made "Warm Ears, Warm Hearts" a legal nonprofit foundation in the state of Florida. However, we won't be able to make progress without financial support. All funds will go to helping children in need. The packages cost about $300 to mail per year. With more money collected, I can ship more boxes and leave a bigger impact. Furthermore, during these unprecedented times brought by COVID-19, we are actively running programs to provide much needed assistance to COVID-19 responders. However, one man can't do it alone. I'm asking you to help me help others by donating any amount, from one dollar to one million dollars (thank you, by the way).</p>
        <p>Thank you very much for taking time to read this! I hope you consider donating. 
        <br/>
        <i>
          Alejandro Ignacio Morles<br/>
          Christopher Columbus Class of 2020 <br/>
          Founder of Warm Ears, Warm Hearts Foundation Inc.<br/>
        </i>
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe class="mx-auto" allowpaymentrequest="" frameborder="0" height="900px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/wewh?default_interval=o" style="max-width: 500px; min-width: 310px; max-height:none!important" width="100%"></iframe>
      </div>
    </div>
  </div>
<br/>
<br/>
<br/>
</div>

<script>
  $('#home-carousel').carousel({
    interval: 3500
  });
</script>