<%= stylesheet_link_tag 'events' %>

<div class="carousel-all">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div id="slide4" class="carousel-item active">
        <div class="carousel-caption d-none d-md-block">
          <h3>Events <i class="fa fa-calendar"></i></h3>
          <h4><i class="fa fa-camera"></i> Founder Alejandro Morles pictured with the Singles winner of Smash Coldness 2018</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="mobile-only">
    <h1>Events <i class="fa fa-calendar"></i></h1>
  </div>
  <div class="event">
    <h1>Warm Ears, Warm Hearts 5K</h1>
    <div class="row">
      <div class="col-sm-12 offset-md-3 col-md-6">
        <img class="mx-auto d-block center-block" src="/assets/5k-logo.png" alt="Warm Ears, Warm Hearts 5K Logo" />
      </div>
      <div id="fivek-span">
        <p>The #WEWH5K Virtual Race can be completed at any time, from October 18, 2020 to October 25, 2020, in one or more attempts.</p>
        <p>The $10 registration fee includes a personalized digital bib, as well as a certificate of completion.</p>
        <p>Complete the race in your own neighborhood, anywhere in the world, at your convenience, while observing social distancing guidelines.</p>
        <p>Represent your favorite high school! The school with the most participants will win a prize.</p>
        <p>Show your team pride on race day by dressing in a WEWH shirt or school gear!</p>
        <p>Upon completion of the race, upload proof of completion to the Post-Race Form, which will be emailed along with the digital bib, on or before October 18.  Evidence could include a screen shot of your choice of running app (i.e. MapMyRun, Runtastic, Nike Run Club, etc.), your iPhone or Apple Watch – whatever GPS device you choose to use to track and pace your run.  The only evidence required is proof of completion of distance – 3.1 miles or 5,000 meters.  The certificate of completion will be emailed to each participant, once this evidence is submitted.</p>
        <p>For those who may wish to participate in the race competitively, they will have the option to upload proof of their time and pace to the Post-Race Form; this data will be used to select the Fastest Runner, Fastest Walker and Fastest Bike-Rider in each of the seven teams, as well as the Fastest Overall.</p>
        <span>
          <a target="_blank" href="https://donorbox.org/wewh5k"><button id="fivek-signup-btn" class="btn" href="https://donorbox.org/wewh5k">Sign Up!</button></a>
        </span>
      </div>
    </div>
  </div>
  <div class="event">
    <h1>Smash COVID</h1>
    <div class="row">
      <div id="smash-covid-details" class="col-sm-12 offset-md-1 col-md-5 ml-auto d-flex align-items-center">
        <p>For our first online fundraiser, we did not let that stop us! We hosted an online Smash Bros tournament in August 2020 where we raised over $1700 for our programs, which included COVID-19 resources for first-responders at Baptist Health South Florida.</p>
      </div>
      <div class="col-md-6 col-lg-6 ml-auto d-flex align-items-center mt-4 mt-md-0">
        <img class="mx-auto d-block center-block" src="/assets/smash-covid.png" alt="Smash Coldness 2019 Logo" />
      </div>
    </div>
  </div>
  <div class="event">
    <h1>Smash Coldness 2019</h1>
    <div class="row">
      <div class="col-md-6 col-lg-6 ml-auto d-flex align-items-center mt-4 mt-md-0">
        <img class="mx-auto d-block center-block" src="/assets/smash-coldness-2019.jpg" alt="Smash Coldness 2019 Logo" />
      </div>
      <div class="col-md-6 col-lg-6 ml-auto d-flex align-items-center mt-4">
        <div class="d-flex flex-column">
          <p class="text-left">Our first ever major fundraising event was a big success! Over 60 attendees participated in the tournament. Combined with our corporate sponsors, we raised over $1900 together for our winter clothes distribution project.</p>
        </div>
      </div>
    </div>
  </div>
</div>
