<%= stylesheet_link_tag 'events' %>

<div class="carousel-all">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div id="slide4" class="carousel-item active">
        <div class="carousel-caption d-none d-md-block">
          <h3>Events <i class="fa fa-calendar"></i></h3>
          <h4><i class="fa fa-camera"></i> Founder Alejandro Morles pictured with the Singles winner of Smash Coldness 2018</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="mobile-only">
    <h1>Events <i class="fa fa-calendar"></i></h1>
  </div>
  <div class="event">
    <h1>Smash COVID</h1>
    <div class="row">
      <div class="col-md-6 col-lg-6 ml-auto d-flex align-items-center mt-4 mt-md-0">
        <img class="mx-auto d-block center-block" src="/assets/smash-covid.png" alt="Smash Coldness 2019 Logo" />
      </div>
      <div id="smash-covid-details" class="col-sm-12 col-md-6 d-flex flex-column">
        <div class="row h-100">
          <div class="offset-1 offset-sm-2 offset-md-0 col-2 col-sm-1 col-md-2 my-auto">
            <h3><i class="fa fa-calendar"></i></p>
          </div>
          <div class="col-6 col-md-9">
            <p>August 15, 2020 (Singles) - August 16, 2020 (Doubles)</p>
          </div>
        </div>
        <div class="row h-100">
          <div class="offset-1 offset-sm-2 offset-md-0 col-2 col-sm-1 col-md-2 my-auto">
            <h3><i class="fa fa-globe"></i></h3>
          </div>
          <div class="col-6 col-md-9 my-auto">
            <p>Online via Discord</p>
          </div>
        </div>
        <div class="row h-100">
          <div class="offset-1 offset-sm-2 offset-md-0 col-2 col-sm-1 col-md-2 my-auto">
            <h3><i class="fa fa-clock"></i></h3>
          </div>
          <div class="col-6 col-md-9">
            <p>Tournament starts at 10am</p>
          </div>
        </div>
        <div class="row h-100">
          <div class="offset-1 offset-sm-2 offset-md-0 col-2 col-sm-1 col-md-2 my-auto">
            <h3><i class="fa fa-money-bill-wave"></i></h3>
          </div>
          <div class="col-6 col-md-9">
            <p>$5 for Doubles per person and $10 for Singles</p>
          </div>
        </div>
        <div class="row h-100">
          <div class="offset-1 offset-sm-2 offset-md-0 col-2 col-sm-1 col-md-2 my-auto">
            <h3><i class="fa fa-medal"></i></h3>
          </div>
          <div class="col-6 col-md-9">
            <p>$50 Amazon card for singles winner and $25 Amazon card for each person in doubles</p>
          </div>
        </div>
      </div>
    </div>
    <span class="event-buttons">
      <button class="btn btn-primary" onclick="location.href='https://donorbox.org/smash-covid'">
        Sign up to Play! <i class="fa fa-gamepad"></i>
      </button>
      <button class="btn btn-danger" onclick="location.href='https://donorbox.org/smash-covid-sponsors'">
        Sign up as a Sponsor! <i class="fa fa-user"></i>
      </button>
      <button id="discord-button" class="btn btn-primary" onclick="location.href='https://discord.gg/HHPgPjx'">
        Join our Discord! <i class="fab fa-discord"></i>
      </button>
      <button id="merchandise-button" class="btn btn-info" onclick="location.href='https://donorbox.org/smash-covid-shop'">
        Buy Merchandise! <i class="fa fa-tshirt"></i>
      </button>
    </span>
  </div>
  <div class="event">
    <h1>Smash Coldness 2019</h1>
    <h2>On December 14th, 2019, we held our second annual Super Smash Bros. video game tournament to raise money for the distribution of winter clothing. Together with our 8 sponsors, we raised over $2300 and had over 70 attendees, shattering last year’s record in the process. Thank you to everyone who came out! Replays from some of the matches are posted on our YouTube channel.</h2>
    <div class="row">
      <div class="col-md-6 col-lg-6 ml-auto d-flex align-items-center mt-4 mt-md-0">
        <img class="mx-auto d-block center-block" src="/assets/smash-coldness-2019.jpg" alt="Smash Coldness 2019 Logo" />
      </div>
      <div class="col-md-6 col-lg-6 ml-auto d-flex align-items-center mt-4">
        <div class="d-flex flex-column">
          <p>Replays of the amazing matches played at our streaming set-up will be uploaded to our YouTube channel below.</p>
          <span class="event-buttons">
            <button id="yt-button" onclick="window.open('https://www.youtube.com/channel/UCJAaJHnsYPC7hEFd3UhIlDw','_blank');" class="btn btn-primary">YouTube <i class="fab fa-youtube"></i></button>
          </span>
        </div>
      </div>
    </div>
    <p id="sponsor-pitch">There are many benefits to sponsoring our tournament, which can be seen in detail on our Donorbox page. Some of these rewards include advertising on t-shirts and on the livestream, which will be viewed by hundreds! We hope you decide to sponsor the tournament if you are able, and we are grateful for all of our previous sponsors!</p>
    <span id="previous-sponsors" class="event-buttons">
      <button class="btn btn-warning" onclick="location.href='/gratitudes'">
        Our Amazing Sponsors <i class="fa fa-trophy"></i>
      </button>
    </span>
  </div>
</div>
