<%= stylesheet_link_tag 'events' %>

<div class="carousel-all">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div id="slide4" class="carousel-item active">
        <div class="carousel-caption d-none d-md-block">
          <h3>Events <i class="fa fa-calendar"></i></h3>
          <h4>- <i class="fa fa-camera"></i> Founder Alejandro Morles awards the winner of Smash Coldness 2018 (he will tell me more soon)</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="mobile-only">
    <h1>Events <i class="fa fa-calendar"></i></h1>
  </div>
  <hr />
  <div id="smash-coldness-2019">
    <h1>Smash Coldness 2019</h1>
    <h2>On Sunday, December 2nd, we held Smash Coldness 2018, a charity tournament to raise money to send winter clothing that year. This was our first largescale fundraising event. We'd like to thank all of the volunteers, sponsors, and attendees for supporting this event. Together, we raised over $1,900! Without all of your help, this event would not have been possible.</h2>
    <div class="row">
      <div class="col-md-6 col-lg-6 ml-auto d-flex align-items-center mt-4 mt-md-0">
        <img class="mx-auto d-block center-block" src="/assets/placeholder-coldness-logo.jpg" alt="Warm Ears, Warm Hearts" />
      </div>
      <div class="col-md-6 col-lg-6">
        <h3><strong>Tournament Information</strong></h3>
        <ul>
          <li><p><i class="fa fa-calendar"></i> December 14th, 2019</p></li>
          <li><p><i class="fa fa-location-arrow"></i> Christopher Columbus High School Cafeteria (3000 SW 87th Ave, Miami, FL 33165)</p></li>
          <li><p><i class="fa fa-gamepad"></i> Super Smash Bros. Ultimate</p></li>
          <li><p><i class="fa fa-clock"></i> Doubles 10:00 am, Singles 2:00 pm (Sign ups at 9:45)</p></li>
          <li><p><i class="fa fa-coins"></i> $15 for singles, $10 per person in doubles</p></li>
          <li><p><i class="fa fa-utensils"></i>  Food and drink will be sold at the venue</p></li>
        </ul>
      </div>
    </div>
    <span class="event-buttons">
      <button onclick="window.open('https://smash.gg/tournament/smash-coldness-2/details','_blank');" class="btn btn-primary">Sign Up <i class="fa fa-edit"></i></button>
      <button onclick="window.open('https://donorbox.org/smash-coldness-signup-2');" class="btn btn-success">Register to be a Sponsor <i class="fa fa-user"></i></button>
    </span>
    <p id="sponsor-pitch">There are many benefits to sponsoring our tournament, which can be seen in detail on our Donorbox page. Some of these rewards include advertising on t-shirts and on the livestream, which will be viewed by hundreds! We hope you decide to sponsor the tournament if you are able, and we are grateful for all of our sponsors last year.
    </p>
    <span id="previous-sponsors" class="event-buttons">
      <button onclick="location.href='/sponsors';" class="btn btn-warning">Our Amazing 2018 Sponsors <i class="fa fa-trophy"></i></button>
    </span>
  </div>
</div>
