<div class="carousel-all">
  <div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-carousel" data-slide-to="1"></li>
      <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div id="slide1" class="carousel-item active">
        <div class="carousel-caption d-none d-md-block">
          <h3>"A touch of warmth to help weather the cold."</h3>
        </div>
      </div>
      <div id="slide2" class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <h3>400+ pounds sent. 4 years running.</h3>
        </div>
      </div>
      <div id="slide3" class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <h3>Come be a part of our family.</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="mobile-only">
    <img class="d-block w-100" src="/assets/large-logo.jpg" alt="Warm Ears, Warm Hearts" />
    <h3>400+ pounds sent. 4 years running.</h3>
  </div>

  <div class="row content-row">
    <div id="about-title" class="col-md-6 col-lg-6 title-col">
      <h1>What is <br/> Warm Ears, Warm Hearts?</h1>
    </div>
    <div class="col-md-6 col-lg-6 desc-col">
      <p>The Warm Ears, Warm Hearts Foundation is a Florida based nonprofit dedicated to collecting and giving winter clothing to children in need. Started by one lone high school student, Alejandro Morles launched this project at the age of 15.  The project has grown to become a legal nonprofit with connections to multiple schools.
        <br/><br/>
        <span class="button-in-text">
          <button id="infoButton" class="btn btn-info">More About Us <i class="fa fa-info-circle" aria-hidden="true"></i></button>
        </span>
      </p>
    </div>
  </div>
  <div class="row flex-column-reverse flex-md-row content-row">
    <div class="col-md-6 col-lg-6 desc-col">
      <p>Warm Ears, Warm Hearts is a foundation dedicated to helping children in need. However, without community support, we wouldn't be able to act.
        <br/><br/>
        <span class="button-in-text">
          <button id="donateButton" class="btn btn-success">Donate <i class="fa fa-money-bill-alt" aria-hidden="true"></i></button>
          <button id="ambassadorButton" class="btn btn-primary">Be An Ambassador <i class="fa fa-user" aria-hidden="true"></i></button>
          <button id="contactButton" class="btn btn-warning">Contact Us <i class="fa fa-bullhorn" aria-hidden="true"></i></button>
        </span>
      </p>
    </div>
    <div id="action-title" class="col-md-6 col-lg-6 title-col">
      <h1>We need you!</h1>
    </div>
  </div>
  <div class="row content-row">
    <div id="form-title" class="col-md-6 col-lg-6 title-col">
      <h1>Keep in touch.</h1>
    </div>
    <div id="mailchimp-signup-col" class="col-md-6 col-lg-6 desc-col">
      <p>Warm Ears, Warm Hearts is constantly expanding and conducting new programs. Always know what we're up to next by subscribing to our mailing list.
        <br/><br/>
        <form id="mailchimp-signup">
          <input placeholder="First name" name="first-name" type="text" class="form-control"/>
          <input placeholder="Last name" name="last-name" type="text" class="form-control"/>
          <span class="input-group">
            <input placeholder="Email address" name="email" type="email" class="form-control width100"/>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Subscribe <i class="fa fa-envelope" aria-hidden="true"></i></button>
            </span>
          </span>
        </form>
      </p>
    </div>
  </div>
</div>

<script>
  let myEvent;
  $('#infoButton').click(function() {
    location.href = "/about";
  });
  $('#donateButton').click(function() {
    location.href = "/donate";
  });
  $('#ambassadorButton').click(function() {
    location.href = "/ambassadors";
  });
  $('#contactButton').click(function() {
    location.href = "/contact";
  });
  $('#mailchimp-signup').submit(function(event) {
    console.log("here");
    const data = "first_name="+event.target[0].value+"&"+
                  "last_name="+event.target[1].value+"&"+
                  "email="+event.target[2].value;
    Rails.ajax({
      url: "/mailchimp/get",
      type: "GET",
      data: data,
      beforeSend: function() {
        return true
      },
      success: function(data) {
        if (data.title === "Member Exists") {
          window.alert("This email is already signed up!")
        } else if (data.title === "Invalid Resource") {
          window.alert("Invalid email!");
        } else {
          window.alert("Successfully subscribed!");
        }
      }
    });
    event.preventDefault();
  });
  $('#home-carousel').carousel();
</script>
