<div class="carousel-all">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#home-carousel" data-slide-to="1"></li>
      <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="carousel-img" class="d-block" src="/assets/box.jpeg" alt="slide 1">
        <div class="carousel-caption d-none d-md-block">
          <h3>"A touch of warmth to help weather the cold"</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/assets/founder.png" alt="slide 2">
        <div class="carousel-caption d-none d-md-block">
          <h3>8 boxes delivered. 3 years running.</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src='/assets/kids.jpg' alt="slide 3">
        <div class="carousel-caption d-none d-md-block">
          <h3>Come be a part of our family</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">


  <div class="row content-row">
    <div id="about-title" class="col-md-6 col-lg-6 title-col">
      <h1>What is <br/> Warm Ears, Warm Hearts?</h1>
    </div>
    <div class="col-md-6 col-lg-6 desc-col">
      <p>The Warm Ears, Warm Hearts Foundation is a Florida based nonprofit dedicated to collecting and giving winter clothing to children in need. Started by one lone high school student, Alejandro Morles launched this project at the age of 15.  The project has grown to become a legal nonprofit with connections to multiple schools.
        <br/><br/>
        <span class="button-in-text">
          <button id="infoButton" class="btn btn-info">More About Us <i class="fa fa-info-circle" aria-hidden="true"></i></button>
        </span>
      </p>
    </div>
  </div>
  <div class="row flex-column-reverse flex-md-row content-row">
    <div class="col-md-6 col-lg-6 desc-col">
      <p>Warm Ears, Warm Hearts is a foundation dedicated to helping children in need. However, without community support, we wouldn't be able to act.
        <br/><br/>
        <span class="button-in-text">
          <button id="donateButton" class="btn btn-success">Donate <i class="fa fa-money-bill-alt" aria-hidden="true"></i></button>
          <button id="ambassadorButton" class="btn btn-primary">Be An Ambassador <i class="fa fa-user" aria-hidden="true"></i></button>
          <button id="contactButton" class="btn btn-warning">Contact Us <i class="fa fa-bullhorn" aria-hidden="true"></i></button>
        </span>
      </p>
    </div>
    <div id="action-title" class="col-md-6 col-lg-6 title-col">
      <h1>We need you!</h1>
    </div>
  </div>
</div>

<script>
  $('#infoButton').click(function() {
    location.href = "/about";
  });
  $('#donateButton').click(function() {
    location.href = "/donate";
  });
  $('#ambassadorButton').click(function() {
    location.href = "/ambassadors";
  });
  $('#contactButton').click(function() {
    location.href = "/contact";
  });
</script>
