<%= stylesheet_link_tag 'programs' %>

<div id="programs-container" class="container-fluid">
  <h1>Programs <i class="fa fa-running" aria-hidden="true"></i></h1>
  <h2>As a nonprofit organization, we have engaged in various programs to better our local and national communities.</h2>

  <div class="row programs-row">
    <div id="winter-clothes-collection-title" class="col-md-6 col-lg-6">
      <h1>Winter Clothes Collection</h1>
    </div>
    <div class="col-md-6 col-lg-6">
      <p>Our Winter Clothes Collection is our primary project. Every year, with the assistance of our ambassadors, we collect new and gently used winter clothing for homeless families in the Bronx, NY.</p>
    </div>
  </div>
  <div class="row flex-column-reverse flex-md-row programs-row">
    <div class="col-md-6 col-lg-6">
      <p>In early 2020, we partnered with a student-run organization (African Literacy Initiative) aimed towards combating illiteracy in Sub-Saharan Africa. Together with the help of nonprofit African Library Project, we contributed to the collection of over 4,000 books and the establishment of the first ever children’s library in Mponela Malawi, a community of over 32,000 people.</p>
    </div>
    <div id="african-literacy-initiative-title" class="col-md-6 col-lg-6">
      <h1>African Literacy Initiative</h1>
    </div>
  </div>
  <div class="row programs-row">
    <div id="covid-response-title" class="col-md-6 col-lg-6">
      <h1>COVID-19 Response</h1>
    </div>
    <div class="col-md-6 col-lg-6">
      <p>In 2020, the world was taken aback by COVID-19. As a result, we have partnered with Baptist Health South Florida to collect funds for personal protective equipment, such as: facemasks, shoe covers, gloves, and much more. During these times, we were reminded that united, we stand stronger.</p>
    </div>
  </div>
</div>
