<%= stylesheet_link_tag 'sponsors' %>

<div class="gratitudes-container container-fluid">
  <div class="row">
    <div class="sponsors-container col-md-6 col-lg-6">
      <h1>Sponsors <i class="fa fa-building" aria-hidden="true"></i></h1>
      <div class="event-container">
        <h2>Smash Coldness Tournament 2019</h2>
        <h3><span class="gold-level">GOLD</span> Level Sponsors</h3>
        <p class="level-desc">These <span class="gold-level">GOLD</span> Level Sponsors contributed <strong>$200 or more</strong> for the Tournament. In return, they received special online advertising and their logo on back of the official Tournament shirt!</p>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Miami Quickbooks Unlimited" src="assets/sponsors/quickbooks-unlimited.jpg" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://www.miamiquickbooks.biz/">Miami Quickbooks Unlimited</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Winn Dixie" src="assets/sponsors/winndixie.png" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://www.winndixie.com/">Winn Dixie</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Brisa de España" src="assets/sponsors/brisa.png" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://www.facebook.com/brisadeespana/">Brisa de España</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Excel Medical Diagnostics" src="assets/sponsors/excel.png" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://excelmedicaldiagnostics.com/">Excel Medical Diagnostics</a></h4>
          </div>
        </div>
        <h3><span class="standard-level">Standard</span> Level Sponsors</h3>
        <p class="level-desc">These <span class="standard-level">Standard</span> Level Sponsors contributed <strong>$100 or more</strong> for the Tournament. In return, they received basic online advertising and their logo on back of the official Tournament shirt!</p>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="ARHMF" src="assets/sponsors/arhmf.JPG" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://arhmf.com/">Avila Rodriguez Hernandez Mena & Ferri LLP</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Marist Brothers of Columbus" src="assets/sponsors/marist-brothers.png" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://www.columbushs.com/page/about-us/marist-brothers-school">Marist Brothers of Columbus</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="The Padron Group, LLC" src="assets/sponsors/padron.png" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://thepadrongroup.net/">The Padron Group, LLC</a></h4>
          </div>
        </div>
      </div>
      <div class="event-container">
        <h2>Smash Coldness Tournament 2018</h2>
        <h3><span class="gold-level">GOLD</span> Level Sponsors</h3>
        <p class="level-desc">These <span class="gold-level">GOLD</span> Level Sponsors contributed <strong>$200 or more</strong> for the Tournament. In return, they received special online advertising and their logo on back of the official Tournament shirt!</p>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Miami Quickbooks Unlimited" src="assets/sponsors/quickbooks-unlimited.jpg" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://www.miamiquickbooks.biz/">Miami Quickbooks Unlimited</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Teenage Entreprenuer" src="assets/sponsors/teenage-entreprenuer.jpg" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="http://www.teenageentrepreneur.com/">Teenage Entreprenuer</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Chenmed" src="assets/sponsors/chenmed.png" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://www.chenmed.com/">ChenMed</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Winn Dixie" src="assets/sponsors/winndixie.png" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://www.winndixie.com/">Winn Dixie</a></h4>
          </div>
        </div>
        <h3><span class="standard-level">Standard</span> Level Sponsors</h3>
        <p class="level-desc">These <span class="standard-level">Standard</span> Level Sponsors contributed <strong>$100 or more</strong> for the Tournament. In return, they received basic online advertising and their logo on back of the official Tournament shirt!</p>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Arbetter's Hot Dogs" src="assets/sponsors/arbetters.jpg" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://www.arbetterhotdogs.com/">Arbetter's Hot Dogs</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Marist Brothers of Columbus" src="assets/sponsors/marist-brothers.png" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://www.columbushs.com/page/about-us/marist-brothers-school">Marist Brothers of Columbus</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="ARHMF" src="assets/sponsors/arhmf.JPG" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://arhmf.com/">Avila Rodriguez Hernandez Mena & Ferri LLP</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Hapzly" src="assets/sponsors/hapzly.jpg" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://hapzly.com">Hapzly</a></h4>
          </div>
        </div>
        <div class="sponsor-container row">
          <div class="col-sm-12 col-lg-6 img-col">
            <img class="img-fluid mx-auto d-block" alt="Evening's Delight" src="assets/sponsors/evenings-delight.jpg" />
          </div>
          <div class="col-sm-12 col-lg-6 name-col">
            <h4><a target="_blank" href="https://eveningsdelight.com/">Evening's Delight</a></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="notable-donors-containers col-md-6 col-lg-6 text-center">
      <h1>Notable Donors <i class="fa fa-user" aria-hidden="true"></i></h1>
      <p>While the Warm Ears, Warm Hearts Foundation greatly appreciates any dontation made, we would like to especially recognize those who donate especially generous amounts of $100 or more. These significant donations allow us to make a significant impact on the communities we serve:</p>
      <ul class="list-group">
        <li class="list-group-item">Anonymous Donor</li>
      </ul>
      <p>If you would alike to be recognized as a Notable Donor, simply donate a significant amount of $100 or more to our Donorbox!</p>
      <button onclick="window.open('https://donorbox.org/wewh','_blank');" class="btn btn-success text-center">Donate <i class="fa fa-money-bill-alt"></i></button>
    </div>
  </div>
</div>