<%= stylesheet_link_tag 'sponsors' %>

<div class="sponsors-container container-fluid">
  <h1>Sponsors <i class="fa fa-building" aria-hidden="true"></i></h1>
  <p>We would like to thank and commemorate our generous sponsors! Because of them, we are able to host great events like our Smash Coldness Tournament to raise much-needed funds for our costly mission.</p>
  <div class="event-container">
    <h2>Smash Coldness Tournament 2018</h2>
    <h3><span class="gold-level">GOLD</span> Level Sponsors</h3>
    <p class="level-desc">These <span class="gold-level">GOLD</span> Level Sponsors contributed <strong>$200 or more</strong> for the Tournament. In return, they received special online advertising and their logo on back of the official Tournament shirt!</p>
    <div class="sponsor-container row">
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
      <div class="col-sm-12 col-md-4 col-lg-3 img-col">
        <img class="img-fluid mx-auto d-block" alt="Miami Quickbooks Unlimited" src="assets/sponsors/quickbooks-unlimited.jpg" />
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 name-col">
        <h4><a href="https://www.miamiquickbooks.biz/">Miami Quickbooks Unlimited</a></h4>
      </div>
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
    </div>
    <div class="sponsor-container row">
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
      <div class="col-sm-12 col-md-4 col-lg-3 img-col">
        <img class="img-fluid mx-auto d-block" alt="Teenage Entreprenuer" src="assets/sponsors/teenage-entreprenuer.jpg" />
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 name-col">
        <h4><a href="http://www.teenageentrepreneur.com/">Teenage Entreprenuer</a></h4>
      </div>
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
    </div>
    <div class="sponsor-container row">
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
      <div class="col-sm-12 col-md-4 col-lg-3 img-col">
        <img class="img-fluid mx-auto d-block" alt="Chenmed" src="assets/sponsors/chenmed.png" />
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 name-col">
        <h4><a href="https://www.chenmed.com/">ChenMed</a></h4>
      </div>
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
    </div>
    <div class="sponsor-container row">
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
      <div class="col-sm-12 col-md-4 col-lg-3 img-col">
        <img class="img-fluid mx-auto d-block" alt="Winn Dixie" src="assets/sponsors/winndixie.png" />
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 name-col">
        <h4><a href="https://www.winndixie.com/">Winn Dixie</a></h4>
      </div>
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
    </div>
    <h3><span class="standard-level">Standard</span> Level Sponsors</h3>
    <p class="level-desc">These <span class="standard-level">Standard</span> Level Sponsors contributed <strong>$100 or more</strong> for the Tournament. In return, they received basic online advertising and their logo on back of the official Tournament shirt!</p>
    <div class="sponsor-container row">
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
      <div class="col-sm-12 col-md-4 col-lg-3 img-col">
        <img class="img-fluid mx-auto d-block" alt="Marist Brothers of Columbus" src="assets/sponsors/marist-brothers.png" />
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 name-col">
        <h4><a href="https://www.columbushs.com/page/about-us/marist-brothers-school">Marist Brothers of Columbus</a></h4>
      </div>
      <div class="col-sm-0 col-md-2 col-lg-3"></div>
    </div>
  </div>
  <div class="sponsor-container row">
    <div class="col-sm-0 col-md-2 col-lg-3"></div>
    <div class="col-sm-12 col-md-4 col-lg-3 img-col">
      <img class="img-fluid mx-auto d-block" alt="ARHMF" src="assets/sponsors/arhmf.JPG" />
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3 name-col">
      <h4><a href="https://arhmf.com/">Avila Rodriguez Hernandez Mena & Ferri LLP</a></h4>
    </div>
    <div class="col-sm-0 col-md-2 col-lg-3"></div>
  </div>
  <div class="sponsor-container row">
    <div class="col-sm-0 col-md-2 col-lg-3"></div>
    <div class="col-sm-12 col-md-4 col-lg-3 img-col">
      <img class="img-fluid mx-auto d-block" alt="Hapzly" src="assets/sponsors/hapzly.jpg" />
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3 name-col">
      <h4><a href="https://hapzly.com">Hapzly</a></h4>
    </div>
    <div class="col-sm-0 col-md-2 col-lg-3"></div>
  </div>
  <div class="sponsor-container row">
    <div class="col-sm-0 col-md-2 col-lg-3"></div>
    <div class="col-sm-12 col-md-4 col-lg-3 img-col">
      <img class="img-fluid mx-auto d-block" alt="Evening's Delight" src="assets/sponsors/evenings-delight.jpg" />
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3 name-col">
      <h4><a href="https://eveningsdelight.com/">Evening's Delight</a></h4>
    </div>
    <div class="col-sm-0 col-md-2 col-lg-3"></div>
  </div>
</div>
