<%= stylesheet_link_tag 'tournament' %>

<div class="container-fluid">
  <img class="img-fluid mx-auto d-block" alt="Smash Coldness Tournament 2018" src="assets/tournament-logo.jpeg" />
  <p>A collection box for gently used winter clothing will be present at the tournament. Please consider donating clothing.</p>
  <ul>
    <li><h3>Date:</h3><p>December 2nd, 2018</p></li>
    <li><h3>Location:</h3><p>Christopher Columbus High School Cafeteria (3000 SW 87th Ave, Miami, FL  33165)</p></li>
    <li><h3>Game:</h3><p>Super Smash Bros for Wii U.</p></li>
    <li><h3>Time:</h3><p>Doubles 12:30 pm, Singles 2:00 pm (Sign ups at 11:45)</p></li>
    <li><h3>Entry:</h3><p>$10 for singles $5 per person in doubles</p></li>
    <li><h3>Tentative Prize:</h3><p>(prize is either this or more expensive): $50 Arbetter’s giftcard. The runnerup is a $10 Arbetter's giftcard</p></li>
    <li><h3>Food and drink will be sold at the venue!</h3></li>
  </ul>
  <p>If you’re interested in pledging your WiiU and copy of Smash to help run the tournament, please email us. You can receive a 50% discount if you do.</p>
  <p>If you’re interested in sponsoring the event in your name or the name of a company, please email us as well! There are various benefits you can receive if you do!</p>
  <h2>Pre-registration and more can be found at: <a href="https://smash.gg/tournament/smash-coldness-2018" target="_blank">https://smash.gg/tournament/smash-coldness-2018</a></h2>
</div>
