/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Everything for header */


#main-nav img {
  max-width: 80%;
}

.navbar-nav {
  align-items: center;
}

#center-text a {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  min-width: 9em;
  color: white;
}

#nav-icons {
  max-width: 100px;
}


/* Everything for carousel */


html, body {
  background-color: black;
  height: 100%;
  width: 100%;
}

.c-img {
  width: 100%;
}

header {
  position: absolute;
  overflow-x: hidden;
  padding: 0;
  z-index: 2;
}
