/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "font-awesome-sprockets";
@import "font-awesome";

/* Everything for header */



#center-text a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .title-col h1 {
    font-size: 45px;
  }
  .desc-col p {
    font-size: 17px;
  }
  header {
    position: relative;
    padding: 0;
    background-color: #2f3033;
  }
  .content-row input, .content-row button {
    font-size: 15px;
  }
  .carousel-all {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .logo-brand {
    display: none;
  }
  #sm-icons a {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) {
  .title-col h1 {
    font-size: 55px;
  }
  .desc-col p {
    font-size: 20px;
  }
  header {
    position: absolute;
    overflow-x: hidden;
    padding: 0;
    z-index: 2;
  }
  .content-row input, .content-row button {
    font-size: 17px;
  }
  .mobile-only {
    display: none;
  }
  .home-brand {
    display: none;
  }
  .navbar-brand {
    width: 20%;
  }
  #sm-icons a {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .title-col h1 {
    font-size: 60px;
  }
  .desc-col p {
    font-size: 20px;
  }
  header {
    position: absolute;
    overflow-x: hidden;
    padding: 0;
    z-index: 2;
  }
  .content-row input, .content-row button {
    font-size: 17px;
  }
  .mobile-only {
    display: none;
  }
  .home-brand {
    display: none;
  }
  .navbar-brand {
    width: 20%;
  }
  #sm-icons a {
    font-size: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .title-col h1 {
    font-size: 65px;
  }
  .desc-col p {
    font-size: 30px;
  }
  header {
    position: absolute;
    overflow-x: hidden;
    padding: 0;
    z-index: 2;
  }
  .content-row input, .content-row button {
    font-size: 25px;
  }
  .mobile-only {
    display: none;
  }
  .home-brand {
    display: none;
  }
  .navbar-brand {
    width: 20%;
  }
  #sm-icons a {
    font-size: 25px;
  }
}

.navbar-brand img {
  width: 75%;
}

.navbar-nav li {
  color: white;
  font-size: 25px;
  padding-right: 7%;
}

.navbar-toggler-icon {
  color: white;
}

.navbar-nav {
  width: 100%;
  padding-left: 1%;
}

#sm-icons {
  text-align: right;
  letter-spacing: 0.5em;
  padding-right: 0;
  margin-right: 2%;
  white-space: nowrap;
  float: right;
  a {
    color: white;
    min-width: 14%;
  }
}

@media screen and (max-width: 991px) {
  #sm-icons {
    padding-top: 2%;
    float: left !important;
    padding-bottom: 2%;
  }
}

.mobile-only {
  img {
    padding-top: 5%;
  }
  h3 {
    text-align: center;
    padding-bottom: 5%;
  }
}

/* Everything for page */

body {
  visibility: hidden;
}

html, body {
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0;
}


/* Everything for carousel */


.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home-carousel h3 {
  font-size: 65px;
}

.carousel-item {
  width: 100%;
  length: 100%;
  background-size: cover;
  background-repeat: "false";
}

#slide1 {
  background-image: image-url("/assets/box.jpeg");
}

#slide2 {
  background-image: image-url("/assets/founder.png");
}

#slide3 {
  background-image: image-url("/assets/our-family.JPG");
}
/* Everything for info boxes */

.content-row h1, .content-row p {
  font-family: "Roboto", sans-serif;
  align-content: center;
  padding-top: 30%;
  padding-bottom: 30%;
}

.content-row h1 {
  text-align: center;
  color: white;
}

.content-row p {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

#about-title {
  background-image: image-url("/assets/founder-with-boxes.jpeg");
  background-repeat: "false";
  background-size: cover;
}

#action-title {
  background-image: image-url("/assets/statia.png");
  background-repeat: "false";
  background-size: 100%;
}

#form-title {
  background-image: image-url("/assets/mailbox.jpeg");
  background-repeat: "false";
  background-size: 100%;
}

.button-in-text button, #mailchimp-signup button, #mailchimp-signup input {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2%;
}

#mailchimp-signup-col p {
  padding-bottom: 0%;
}

#mailchimp-signup-col {
  text-align: center;
}

#mailchimp-signup {
  width: 80%;
  display: inline-block;
  span {
    max-width: 120%;
  }
}
/* Everything for footer */

footer {
  padding-top: 3%;
  background-color: #2f3033;
  padding-bottom: 2.5%;
}

footer h3, footer p {
  text-align: center;
  color: white;
}

footer .credits p {
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1.5em;
}

footer .credits a {
  color: #668cff;
}

footer h3 {
  font-size: 25px;
}
footer p {
  font-size: 15px;
}
