@media screen and (max-width: 767px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 25px;
  }
  .collection-desc h3 {
    font-size: 20px;
  }
  .collection-desc p {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  .collection-desc h3 {
    font-size: 20px;
  }
  .collection-desc p {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 35px;
  }
  .collection-desc h3 {
    font-size: 25px;
  }
  .collection-desc p {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 45px;
  }
  .collection-desc h3 {
    font-size: 35px;
  }
  .collection-desc p {
    font-size: 30px;
  }
}


h1 {
  padding-top: 7%;
  padding-bottom: 3%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  padding: 0;
  background-color: #2f3033;
}

#collections-container h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 5% 5% 5% 5%;
}

.collection-title img {
  max-width: 60%;
}

.collection-desc {
  padding-top: 2%;
  margin-bottom: 2%;
}

.collection-title {
  padding-top: 5%;
}

.collection-desc p {
  line-height: 1em;
}
