@media screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
  .gratitudes-container h2 {
    font-size: 35px;
  }
  .gratitudes-container h3 {
    font-size: 30px;
  }
  .gratitudes-container h4 {
    font-size: 30px;
  }
  .gratitudes-container p {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  .gratitudes-container h2 {
    font-size: 35px;
  }
  .gratitudes-container h3 {
    font-size: 30px;
  }
  .gratitudes-container h4 {
    font-size: 30px;
  }
  .gratitudes-container p {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 55px;
  }
  .gratitudes-container h2 {
    font-size: 40px;
  }
  .gratitudes-container h3 {
    font-size: 35px;
  }
  .gratitudes-container h4 {
    font-size: 25px;
  }
  .gratitudes-container p {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 65px;
  }
  .gratitudes-container h2 {
    font-size: 50px;
  }
  .gratitudes-container h3 {
    font-size: 45px;
  }
  .gratitudes-container h4 {
    font-size: 40px;
  }
  .gratitudes-container p {
    font-size: 30px;
  }
}

h1 {
  padding-top: 14%;
  padding-bottom: 7%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  padding: 0;
  background-color: #2f3033;
}

.gratitudes-container h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.gratitudes-container h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.name-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h4 {
    text-align: center;
  }
}

.img-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-col img {
  max-width: 250px;
}

.gratitudes-container {
  padding-bottom: 5%;
}

.gratitudes-container p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.gratitudes-container h3 {
  padding-top: 2%;
}

.gold-level {
  color: #b38f00
}
.standard-level {
  color: #837c7c
}

.notable-donors-containers ul {
  font-size: 30px;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 3%;
}

.notable-donors-containers button {
  font-size: 20px;
}