<!DOCTYPE html>
<html>
  <head>
    <title>Warm Ears, Warm Hearts Foundation Inc.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>


    <header>
      <nav class="navbar navbar-dark navbar-expand-lg">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img class="img-responsive" alt="logo" src="/assets/logo.png">
        </a>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/donate">Donate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ambassadors">Ambassadors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/collections">Collections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <div id="sm-icons">
                <a href="https://www.facebook.com/WarmEarsWarmHearts"><i class="fab fa-2x fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/warmearswarmhearts/?hl=en"><i class="fab fa-2x fa-instagram" aria-hidden="true"></i></a>
                <a href="https://twitter.com/WEarsWHearts"><i class="fab fa-2x fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/company-beta/21499802"><i class="fab fa-2x fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>


    <footer>
      <div class="container-fluid">
        <h3>Thank you for your interest in Warm Ears, Warm Hearts! Together, we can make a difference.</h3>
        <span class="credits">
          <p>© 2017 by Warm Ears, Warm Hearts Foundation Inc.</p>
          <p>Doral, Miami, FL</p>
          <p>Founded 2016 by Alejandro Morles</p>
          <p>Site developed by Justin Parrondo using Ruby on Rails and Bootstrap</p>
        </span>
      </div>
    </footer>

    <script>
      $(document).ready(function(){
        delayShow();
      });
      function delayShow() {
        var secs = 1000;
        setTimeout('$("body").css("visibility","visible");', secs);
      }
    </script>
  </body>
</html>
