<!DOCTYPE html>
<html>
  <head>
    <title>Warm Ears, Warm Hearts Foundation Inc.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>


    <header>
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <button class="navbar-toggler" data-toggle="collapse" data-target="#main-nav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="main-nav">
            <div class="navbar-nav row container-fluid">
              <div id="nav-img" class="col-sm-3 col-md-3 col-lg-3">
                <a class="nav-item nav-link active" href="#"><img class="img-responsive" alt="logo" src="/assets/logo.png"></a>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6" id="center-text">
                <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <a class="nav-item nav-link nav-text" href="#">About</a>
                  </div>
                  <div class=" col-sm-4 col-md-4 col-lg-4">
                    <a class="nav-item nav-link nav-text" href="#">Contact</a>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <a class="nav-item nav-link nav-text" href="#">Test</a>
                  </div>
                </div>
              </div>
              <div id="nav-icons" class="col-sm-3 col-md-3 col-lg-3">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>


    <%= yield %>


    <footer>
      <div class="container-fluid">
        <h3>Thank you for your interest in Warm Ears, Warm Hearts!</h3>
        <span class="credits">
          <p>© 2017 by Warm Ears, Warm Hearts Foundation Inc.</p>
          <p>Founded 2016 by Alejandro Morles</p>
          <p>Site developed by Justin Parrondo using Ruby on Rails and Bootstrap</p>
        </span>
      </div>
    </footer>
  </body>
</html>
